{% extends "base.html.twig" %}
{% block title %}{{ question.question }}{% endblock %}
{% block headline %}{{ question.question }}{% endblock %}
{% block body %}
    <div id="question">
        <form action="{{ path("app_question", {exam_id: exam_id, question_id: nextQuestion}) }}" method="post">
                {% for answer in answerList %}
                    <label for="{{ question.question }}_{{ answer.answer }}">{{ answer.answer }}</label>
                    <input type="checkbox" name="{{ question.question }}_{{ answer.answer }}" value="{{ answer.answer }}">
                {% endfor %}
            <input type="submit" name="sub_{{ question.question }}" value="Next question">
        </form>
    </div>
{% endblock %}