{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/exam.css">
{% endblock %}
{% block body %}
    <div id="exams">
        {%  for exam in examList %}
            <div>
                <a href="{{ path("app_question", {exam: exam.name}) }}" title="{{ exam.name }}">
                    <img src="/images/exam/examThumbnail.png" alt="{{ exam.name }}">
                </a>
                <h3>//<a href="{{ path('app_question', {exam: exam.name}) }}">{{ exam.name }}</a></h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}