{% extends "base.html.twig" %}
{% block title %}Profile{% endblock %}
{% block headline %}Profile{% endblock %}
{% block body %}
    <h2>{{ app.user.email }}</h2>
    <p>Edit profile:</p>
    <form action="{{ path("app_user_profile") }}" method="post">
        <table>
            <tr>
                <td><input type="email" name="email" placeholder="email" value="{{ app.user.email }}" required></td>
                <td>Email*</td>
            </tr>
            <tr>
                <td><input type="password" name="password" placeholder="12345678" required></td>
                <td>Password*</td>
            </tr>
            <tr>
                <td><input type="password" name="verPassword" placeholder="12345678" required></td>
                <td>Verification Password*</td>
            </tr>
            <tr>
                <td><input type="reset">
                    <input type="submit" name="updateUser" value="Save changes"></td>
            </tr>
        </table>
    </form>
    <p>* marked fields are required!</p>
    {% if errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{{ path("app_user_delete") }}">delete account</a>
{% endblock %}